
  
  body, html {
    height: 100%;
    color: white;
  }
  
  .video-wrapper {
    width: 100%;
    
  }
  
  section {
    margin: 1rem;
    padding: 2rem;
    background-color: grey;
    border-radius: 2em;
  }
  
  .bgimg {
    background-image: url("images/MyClick.jpg");
    height: 100%;
    position: relative;
    opacity: 0.85;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  #Java{
    color:red;
  }
  #WebApps{
    color:blue;
  }
  .hobbies{

    color: Red;
  }