
  
  body, html {
    height: 100%;
    color: white;
  }
  
  .video-wrapper {
    width: 100%;
    
  }
  
  section {
    margin: 1rem;
    padding: 2rem;
    background-color: grey;
    border-radius: 2em;
  }
  
  .bgimg {
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
    height: 100%;
    position: relative;
    opacity: 0.85;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* fixed in viewport */
  }
  
  #Java{
    color:red;
  }
  #WebApps{
    color:blue;
  }